@use "./_tokens.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: $l21-font-family-body;
  font-size: $l21-font-size-body;
  color: $l21-color-text-main;
  background-color: $l21-color-bg;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

:root {
  color-scheme: dark;
}
